@import "tailwindcss";

@layer utilities {
  .inter-font {
    font-family: "Poppins", sans-serif;
  }
  .eb-garamond {
    font-family: "EB Garamond", serif;
  }
}

:root {
  /* colors */
  --dark-04: rgba(160, 160, 160, 1);
  --dark-03: #9e9e9e;
  --color-white: #ffffff;
  --text-color: rgba(255, 255, 255, 1);
  --dark-06: rgba(231, 231, 231, 1);

  /* button */
  --btn-text: rgba(255, 255, 255, 1);
  --btn-primary: rgba(182, 140, 90, 1);

  /* background */
  --bg-color: rgba(255, 255, 255, 1);
  --bg-gray: #111111;

  /* background image */
  --bg-banner: url("./imge/banner.png");
}

/* Base layer (global styles) */
@layer base {
  body {
    font-family: (inter-font);
  }

  h1,
  h2,
  h3 {
    font-family: (eb-garamond);
  }
}

/*  Components layer */
@layer utilities {
  .hero-section {
    margin-bottom: 104px;
  }
  .btn-primary {
    background-color: (--btn-primary);
    color: (--btn-text);
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
}
