@import "tailwindcss";

@theme {
  /* colors */
  --dark-04: rgba(160, 160, 160, 1);
  --dark-03: #9e9e9e;
  --color-white: #ffffff;
  --text-color: rgba(255, 255, 255, 1);
  --dark-06: rgba(231, 231, 231, 1);

  /* button */
  --btn-text: rgba(255, 255, 255, 1);
  --btn-primary: rgba(182, 140, 90, 1);

  /* fonts */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "EB Garamond", serif;

  /* background */
  --bg-color: rgba(255, 255, 255, 1);
  --bg-gray: #111111;

  /* background image */
  --bg-banner: url("./imge/banner.png"); 
}

/* Base layer (global styles) */
@layer base {
  body {
    font-family: var(--font-primary);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-secondary);
  }
}

/*  Components layer */
@layer components {
  .hero-section {
    @apply mb-26;
  }
  .btn-primary {
    @apply bg-(--btn-primary)
      text-(--btn-text)
      px-5 py-3
      sm:px-7 sm:py-5
      rounded-md
      text-[14px]
      md:text-xl
      font-semibold
      transition
      hover:opacity-90;
  }
}
